<div class="navbar">
  <h1>{{ config.PROJECT.name }}</h1>
  <svg id="burger-icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
    <path fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
  </svg>

  </div>
  
  <nav>
    <ul id="menu" class="nav navbar-nav">
      <li{% if this._path == '/' %} class="active"{% endif
        %}><a href="{{ '/'|url }}">Home</a></li>
      {% for href, title in [
        ['/blog', 'Blog'],
        ['/tags', 'Tags'],
        ['/about', 'About']
      ] %}
        <li{% if this.is_child_of(href) %} class="active"{% endif
          %}><a href="{{ href|url }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <script>
    const icon = document.getElementById("burger-icon")
    const menu = document.getElementById("menu")
  
    icon.addEventListener("click", () => {
      icon.classList.toggle("icon-fade")
      menu.classList.toggle("navbar-nav");
    })
  </script>